/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome';
.wrapper{
    margin-top: 10%;
    margin-bottom: 5%;
}

html, body { height: 100%;
// background:lightgray 
}body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
