/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome';
@import '~bootstrap/scss/bootstrap.scss';

html, body {
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    flex-direction: column;   
}
