######################
# Project Specific
######################

/build/www/**
/src/test/javascript/coverage/
/src/test/javascript/PhantomJS*/
config-server-repo

######################
# Node
######################

/node/
node_tmp/
node_modules/
npm-debug.log.*

######################
# SASS
######################
.sass-cache/

######################
# Eclipse
######################
*.pydevproject
.project
.metadata
tmp/
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.factorypath
.settings
.mvn
target
target/*
logs
logs.*
mvnw
mvnw.*
bin
.bin
.bin/*

/src/main/resources/rebel.xml

# External tool builders
.externalToolBuilders/**

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

######################
# Intellij
######################
.idea/*
*.iml
*.iws
*.ipr
*.ids
*.orig


######################
# Visual Studio Code
######################
.vscode/

######################
# Maven
######################
/log/
/target/

######################
# Gradle
######################
.gradle/
/build/

######################
# Package Files
######################
*.jar
*.war
*.ear
*.db

######################
# Windows
######################
# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

######################
# Mac OSX
######################
.DS_Store
.svn

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

######################
# Directories
######################
/bin/
/deploy/

######################
# Logs
######################
*.log

######################
# Others
######################
*.class
*.*~
*~
.merge_file*

######################
# Gradle Wrapper
######################
!gradle/wrapper/gradle-wrapper.jar

######################
# Maven Wrapper
######################
!.mvn/wrapper/maven-wrapper.jar

######################
# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
angular/dist
angular/tmp
angular/out-tsc
# Only exists if Bazel was run
angular/bazel-out

# dependencies
angular/node_modules

# profiling files
angular/chrome-profiler-events*.json
angular/speed-measure-plugin*.json

# IDEs and editors
angular/.idea
angular/.project
angular/.classpath
angular/.c9/
angular/*.launch
angular/.settings/
angular/*.sublime-workspace

# IDE - VSCode
angular/.vscode/*
angular/!.vscode/settings.json
angular/!.vscode/tasks.json
angular/!.vscode/launch.json
angular/!.vscode/extensions.json
angular/.history/*

# misc
angular/.sass-cache
angular/connect.lock
angular/coverage
angular/libpeerconnection.log
angular/npm-debug.log
angular/yarn-error.log
angular/testem.log
angular/typings

# System Files
angular/.DS_Store
angular/Thumbs.db
# ESLint
######################
.eslintcache
/.recommenders/
userregistration/.idea
