
.container-fluid{
    // background-color: white;
    background: linear-gradient(to top left, #ffffff -5%, #ff9595 111%);
    // margin-top:1cm;
    padding-top:1cm;
    height: 100%;

}
// .item item-2{
//    margin-top: 10px;;
// }
h1{
    text-align: center;
    //justify-content: center;
}
p{
    //text-align: center;
    text-align: justify;
    
}