<div class="container-fluid" fxLayout fxLayout.xs="column" fxLayoutAlign="left" fxLayoutGap="10px"
            fxLayoutGap.xs="0">
    <div class="item item-2">
                <h1> Services</h1><br>
                <h4>Get Faster Decisions</h4>
                <p>Your one step closer to making decisions based on feedback from the users once you create an account.</p>
                <h4>Approapriate Questions</h4>
                <p>Ask questions that will lead to correct and approapriate data response. </p>
                <h4>User-Friendly Surveys</h4>
                <p>Your Survey will look nice on all screens be it Mobile or Desktop,previous. </p>
                <h4>Personal Information and Privacy</h4>
              <p>Personal information you provide to Pollurvey through the Service is governed by POLLURVEY Privacy Policy. Your election to use the Service indicates your acceptance of the terms of the POLLURVEY Privacy Policy. You are responsible for maintaining 
                confidentiality of your username, password and other sensitive information. 
                You are responsible for all activities that occur in your user account and you agree to inform us immediately of any unauthorized use of your user account by
                 email to<a href="accounts@pollurvey.com">accounts@pollurvey.com</a> or by calling us on any of the numbers listed on<a href="" routerLink="/contact"> https://www.pollurvey.com/contact.html</a>. 
                We are not responsible for any loss or damage to you or to any third party incurred as a result of any unauthorized access and/or use of your user account, or otherwise.</p>
            <h4>Data Ownership</h4>
            <p>We respect your right to ownership of content created or stored by you. You own the content created or stored by you. Unless specifically permitted by you, 
                your use of the Services does not grant Pollurvey the license to use, reproduce, adapt, modify, publish or distribute the content created by you or stored in your user account for Pollurvey’s commercial,
                 marketing or any similar purpose.But you grant Pollurvey permission to access, copy, distribute, store, transmit, reformat, publicly display and publicly perform the content of your user account solely as required for the purpose of providing the Services to you.</p>
            <h4>Inactive User Accounts Policy</h4>
            <p>We reserve the right to terminate unpaid user accounts that are inactive for a continuous period of 360 days. In the event of such termination, all data associated with such user account will be deleted. We will provide you prior notice of such termination and option to back-up your data.
             The data deletion policy may be implemented with respect to any or all of the Services. Each Service will be considered an independent and separate service for the purpose of calculating the period of inactivity. In other words, activity in one of the Services is not sufficient to keep your user account in another Service active.
             In case of accounts with more than one user, if at least one of the users is active, the account will not be considered inactive.</p>
            
            </div>
        </div>

