
/* The hero image */
.hero-image {
  height: 100%;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background: rgb(255,149,149);
    background: linear-gradient(264deg, rgba(255,149,149,1) 0%, rgba(255,149,149,1) 32%, rgba(33,1,56,1) 100%);padding: 0 0 0.2em 0;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  margin-left: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:rgb(252, 249, 249);
}
.hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: rgb(248, 245, 245);
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
    border-radius: 2px;
  }
  
  .hero-text button:hover {
    background-color: #555;
    color: white;
  }
  a{
    font-size: 40px;
  }
  h2{
    font-size: 20px;
  }

  .mat-card{
    text-align: left;
  position: absolute;
  margin-top: 0%;
   margin-left: 0%;

  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  color:white;
  background-color: rgb(255,149,149);;
  width: 280px;
  height:500px;
  // border: 5px solid black;
  padding: 30px;
  margin: 20px;
  }

  //  .head{
  //    color: white;
  //  }


