.welcome{
    text-align: center;
        background-color:lightgray;
        opacity:1;
        height: 100%;
}
h1{
   
    color:black;
}
h2{
    // margin-top:7cm;
    color: blue;
}
a{
    color: black;
}
label{
    color: black;
}
.welcomedetails{
    margin-top:10cm;
    // padding:15cm;
    margin-left:12cm;
}