.welcome{
    background-image: url("/assets/pictures/52_blog_19_Purple.jpg");
    opacity: 0.7;
    height: 100%;
    width: 100%;
    // background-repeat: no-repeat;
}
h1{
    color:white;
}
h2{
    color: white;
}
a{
    color: white;
}
label{
    color: white;
}
.welcomedetails{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}
button{
    background:white;
    width: 4cm;
    justify-content: center;
    margin: auto;
}
button:hover{
    box-shadow: 0 8px 25px 0 white(0,0,0,0.8);
    width:120px;
}