.example-card{
    padding-top:50px;
    padding-left: 60px;
padding-bottom: 80px;
min-width:100px;

    }
    mat-card{
        min-width:50px;
    }
    .example-container{
    font-family: arial;
    }
    h6{
    padding-top:20px;
    }
    #button1{
        width: 200px;
        height: 40px;
        margin-right: 150px;
        
    }
    mat-card-actions{
        text-align: center;
        
    }
    .mat-raised-.mat-card-actions .mat-button, .mat-card-actions .mat-raised-button{
        margin:5px;
        
    }
    .mat-raised-button {
        float: left;
        margin-bottom: 50px;
    }
    .flex-container{
        background-color:white;
    }