.example-card{
    padding-top:50px;
   // padding-left: 60px;
padding-bottom: 190px;

}
    mat-card{
        min-width:auto;
       display: block;
       margin-top: 1cm;
        margin-left:auto;
         margin-right:auto;
         align-content: center;
    }
    .example-container{
    font-family: arial;
    }
    h6{
    padding-top:20px;
    }
    mat-card-actions{
        text-align: center;
        padding-bottom: 20px; 
    }
    .mat-raised-.mat-card-actions .mat-button, .mat-card-actions .mat-raised-button{
        margin:5px;
        
    }
    .mat-raised-button {
    //    float: left;
    
        margin-bottom: 50px;
        margin-left:auto;
        margin-right:auto;
       
    }
    .flex-container{
        background: rgb(255,149,149);
    
        background: linear-gradient(264deg, rgba(255,149,149,1) 0%, rgba(255,149,149,1) 32%, rgba(33,1,56,1) 100%);
        }

  mat-card-header.mat-card-header
  {
      //text-align: center;
      justify-content: center; 
  }
//  label{
//     padding-left: 20px;
//  }