.example-card{
    padding-top:130px;
    padding-left: 60px;
    }
    .example-container{
    font-family: arial;
    }
    h6{
    padding-top:20px;
    }
    #button1{
        width: 200px;
        height: 40px;
        margin-right: 150px;
        
    }
    mat-card-actions{
        text-align: center;
        
    }
    .mat-raised-.mat-card-actions .mat-button, .mat-card-actions .mat-raised-button{
        margin:5px;
        
    }
    .mat-raised-button {
        float: left;
    }