<div class="example-card">
    <mat-card-header>
      <mat-card-title> MyProfile</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="example-container" >
  
         User Name  : {{user?.name}} <br> 
 
         Email Id:{{user?.email}} <br> 
  
  
  
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)=openDialog()>Edit</button>
      <button mat-raised-button color="primary" id="button1" >change password</button>
    </mat-card-actions>
  </div>
  
