<div class="flex-container" layout-align="center none">
<div class="example-card" fxLayout="column">
  <mat-card class="hello">
  <mat-card-header>
    <mat-card-title>Edit Your Profile</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div class="example-container">
      
      <h6>Username   : <label>{{user?.name}}</label> </h6> 
      
      <h6>Email Id: <label>{{user?.email}}</label> </h6>
      
      <h6>AgeGroup:<label>{{user?.ageGroup}}</label></h6>
      
      <h6>Gender:<label> {{user?.gender}}</label></h6>
      <h6>Location:<label>{{user?.location}}</label></h6>
      <!-- <button mat-raised-button color="primary" (click)=openDialog()>Edit</button> -->
    </div>
    
  </mat-card-content>
  <mat-card-actions>
    
    <!-- <button mat-raised-button color="primary" id="button1" >change password</button> -->
    <button mat-raised-button color="primary" (click)=openDialog()>Edit</button>
    <button type="cancel" mat-raised-button color="primary" routerLink="/survey">Back</button>
  </mat-card-actions>

  </mat-card>
</div>
</div>