<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>MyProfile</mat-card-title>

  </mat-card-header>
  <mat-card-content>

    <div class="example-container">
      <form #userForm="ngForm">
        <mat-form-field>
          <i class="material-icons prefix">account_circle</i>
          <!-- <input   [(ngModel)]="user.name" name="name" #name="ngModel"> -->
        </mat-form-field>
        <mat-divider></mat-divider>

        <h4>LoginDetails as</h4>
        <h4>Your Email and UserName is:</h4>
        <button mat-raised-button type="submit" (click)=openDialog(user)>Change your Email</button>
        <button mat-raised-button type="submit">Reset password</button>
      </form>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <a style="margin-left: 10px" routerLink="/login">
      <mat-divider></mat-divider>

      <button mat-raised-button (click)="saveUser(user)" color="primary">save</button>
      <button mat-raised-button (click)="login()" color="primary">cancel</button>
    </a>
  </mat-card-actions>
</mat-card>
