
<div mat-dialog-content>
  <mat-card *ngFor="let question of questionList">
    <h3>{{data.questionTag}}</h3>
    <div *ngFor="let choice of data.choices">
      <mat-radio-button class="choice-radio-button" value="{{choice}}">{{choice}}</mat-radio-button>
    </div>
  </mat-card>
   <form name="question_card" class="my-form" #questiontemplateform="ngForm" (ngSubmit)="saveQuestion(questiontemplateform.value)">
          <mat-form-field>
            <mat-label>Question</mat-label>
            <textarea matInput placeholder="Question" [(ngModel)]="data.question.questionTag" name="questionTag"></textarea><br>
          </mat-form-field>
          <div *ngFor="let choice of data.question.choices">
            <mat-radio-button >{{choice}}</mat-radio-button>
          </div>
          <!-- <mat-form-field>
              <input  matInput placeholder="Choice" name="choices" #choiceText>
            </mat-form-field>
          <button id="addChoice" mat-mini-fab color="primary" (click)=addChoice(choiceText.value)>+</button> -->
          <!-- <button mat-raised-button type="submit" color="primary">save</button> -->
        </form>
<div mat-dialog-actions>
  <button mat-raised-button color="Primary" [mat-dialog-close]="data" cdkFocusInitial>Update</button>
  <button mat-raised-button color="Warn" (click)=onNoClick()>Cancel</button>
</div>
</div>