<div class="wrapper">
<h3>Are the facilities at the school better than you expected?</h3>
<mat-radio-group aria-label="Select an option" class="choice-radio-group">
    <mat-radio-button class="choice-radio-button" value="Not better">Not better</mat-radio-button>
    <mat-radio-button class="choice-radio-button" value="better">better</mat-radio-button>
    <mat-radio-button class="choice-radio-button" value="Much better">Much better</mat-radio-button>
  </mat-radio-group>

  <h3>Are the facilities at the school better than you expected?</h3>
<mat-radio-group aria-label="Select an option" class="choice-radio-group">
    <mat-radio-button class="choice-radio-button" value="Not better">Not better</mat-radio-button>
    <mat-radio-button class="choice-radio-button" value="better">better</mat-radio-button>
    <mat-radio-button class="choice-radio-button" value="Much better">Much better</mat-radio-button>
  </mat-radio-group>

</div>