.choice-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }

  #question_card {
    display: flex;
    flex-direction: column;
  }

  .choice {
      width: 30%;
      padding: 5%;
  }
  

  .choice-radio-button{
      margin: 5px;
  }
  .mat-card{
      margin-top:70px;
  }
  button
  {
      margin-left: 10px;
  }