<div class="main">
<a routerLink="/survey"><button class="back" mat-raised-button><mat-icon>arrow_back</mat-icon></button></a>
<!-- <h2>{{survey.name}}</h2> -->
<span><h3>Recommended Questions</h3></span>
<span><h3 class="questions">Your Questions</h3></span>
<div
  class="example-container"
  fxLayout="row"
  fxLayout.xs="column"
  fxLayoutWrap
  fxLayoutGap="10px"
>
  <div
    class="example-list"
    fxFlex="40%"
    cdkDropList
    #recommendedQuestions="cdkDropList"
    [cdkDropListData]="recommendedQuestionList"
    [cdkDropListConnectedTo]="[surveyQuestions]"
    (cdkDropListDropped)="drop($event)"
  >
    <mat-card
      class="example-box"
      *ngFor="let question of recommendedQuestionList"
      cdkDrag
    >
      <h4>
        {{ question.questionTag
        }}
      </h4>
      <br/>
      <div *ngFor="let choice of question.choices">
        <mat-radio-button class="choice-radio-button" value="{{ choice }}">{{
          choice
        }}</mat-radio-button><br />
      </div>
    </mat-card>
  </div>
</div>
<div class="example-container1" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="10px">
  <div class="example-list"  fxFlex="40%" cdkDropList #surveyQuestions="cdkDropList"
    [cdkDropListConnectedTo]="[recommendedQuestions]" [cdkDropListData]="questionList"
    (cdkDropListDropped)="drop($event)">
    <mat-card class="example-box" *ngFor="let question of questionList" cdkDrag>
      <h4>
        {{ question.questionTag
        }}
        <mat-icon (click)="editQuestion(question)">edit</mat-icon
        ><mat-icon (click)="deleteQuestion(question)">delete</mat-icon>
      </h4>
      <br />
      <div *ngFor="let choice of question.choices">
        <mat-radio-button class="choice-radio-button" value="{{ choice }}">{{
          choice
        }}</mat-radio-button><br />
      </div>
    </mat-card>
    
  </div>
</div>
<div class="flex-container" fxLayout="row">
<ng-template class="question" [ngIf]="condition">
  <mat-card class="add-question">
      <mat-card-header>
          <mat-card-title>New Question</mat-card-title>
        </mat-card-header>
      <form name="question_card" class="my-form" #questiontemplateform="ngForm">
      <mat-card-content>
      <mat-form-field class="Question">
        <mat-label>Question</mat-label>
        <textarea matInput placeholder="Question" [(ngModel)]="questionTag" name="questionTag" cols="60"></textarea>
      </mat-form-field><br />
      <div *ngFor="let choice of newchoices">
        <mat-radio-button class="choice-radio-button" value="{{ choice }}">{{
          choice
        }}</mat-radio-button>
      </div>
      <mat-form-field>
        <input matInput placeholder="Choice" name="choices" #choiceText id="choiceText" />
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button
      class="choice"
        id="addChoice"
        mat-mini-fab
        color="primary"
        (click)="addChoice(choiceText.value)"
      >
        +
      </button>
      <button class="choice" mat-raised-button type="submit" color="primary" (click)="saveQuestion(questiontemplateform)">
        save
      </button>
      </mat-card-actions>
    </form>
  </mat-card>
</ng-template>
</div>
<button class="save"  mat-mini-fab type="submit" (click)="addQuestion()" matTooltip="Add question" color="primary">
  +
</button>
<button class="save" mat-mini-fab type="submit" (click)="publish()" matTooltip="Publish your survey" color="primary">
  <mat-icon> publish</mat-icon>
</button>
</div>
<div class="float" (click)="chat()">
  <i class="fa fa-weixin my-float" aria-hidden="true"></i>
  <div class="label-container">
  <div class="label-text">Any Help?</div>
  <em class="fa fa-play label-arrow"></em>
  </div>
  </div>