.example-container
{
float: left;
background: white;
// background: linear-gradient(264deg, rgba(255,149,149,1) 0%, rgba(255,149,149,1) 32%, rgba(33,1,56,1) 100%);
padding: 15px;
width: 50%;
height:800px;
overflow: scroll;
border: 1px solid rgb(41, 1, 39);
}
.example-container1
{
float:right;
background: rgb(199, 191, 191); background: linear-gradient(264deg, rgb(165, 160, 160) 0%, rgb(27, 27, 27) 32%, rgb(95, 94, 95) 100%);
padding: 15px;
width: 50%;
height: 800px;
overflow: scroll;
border: 1px solid #ccc;
}
img {
  width:7cm;
  height: 4cm;;
 }
   
.custom-width {
  width: 450px;
}
.example-box {
    color: rgba(0, 0, 0, 0.87);
    cursor: move;
    background: white;
    width:700px;
    margin-top:1cm;
    margin-left:0.5cm;
    box-sizing: border-box;
    border-radius: 4px;
    padding:0.3cm;
}
.example-box:hover{
   box-shadow: 0 8px 25px 0 rgba(0,0,0,0.8);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .add-question{
    min-width:750px;
    height:auto;
    padding:0.5cm;
    margin-top:23cm;
  }
    .add-question:hover{
      box-shadow: 0 8px 25px 0 rgba(0,0,0,0.8);
  }
  .Question{
    width: 600px! important;
  }
  h3{

    margin-left:5cm;
    color: white;
    margin-bottom:0.5cm;
  }
  .questions{
    margin-left:25cm;
    margin-top:-1.1cm;

  }
  
  mat-icon{
    float:right;
  }
  .chatbot{
    height:50px;
  }
 .save{
   margin-top:0.5cm;
   margin-bottom:0.5cm;
   margin-left:0.5cm;
   margin-right:0.5cm;
   float: right;
 }
 .choice
 {
  margin-left:2cm;
 }
 .main{
   height: 100%;
   justify-content: center;
  background: rgb(255,149,149);
  background: linear-gradient(264deg, rgba(255,149,149,1) 0%, rgba(255,149,149,1) 32%, rgba(33,1,56,1) 100%);
 }
 h2{
   text-align: center;
  color: white;
 }
 .back{
  margin:0.5cm;
  background-color: white;
  color: black;
  height: 1cm;
  width:0.5cm;
 }
 *{padding:0;margin:0;}

 body{
   font-family:Verdana, Geneva, sans-serif;
   background-color:#CCC;
   font-size:12px;
 }
 
 .label-container{
   position:fixed;
   bottom:48px;
   right:105px;
   display:table;
   visibility: hidden;
 }
 
 .label-text{
   color:#FFF;
   background:rgba(128, 5, 153, 0.897);
   display:table-cell;
   vertical-align:middle;
   padding:10px;
   border-radius:3px;
 }
 
 .label-arrow{
   display:table-cell;
   vertical-align:middle;
   color:#333;
   opacity:0.5;
 }
 
 .float{
   position:fixed;
   width:60px;
   height:60px;
   bottom:40px;
   right:40px;
   background-color:rgb(114, 6, 91);
   color:#FFF;
   border-radius:50px;
   text-align:center;
   box-shadow: 2px 2px 3px #999;
 }
 
 .my-float{
   font-size: 35px;
   margin-top: 15px;
 }
 
 a.float + div.label-container {
   visibility: hidden;
   opacity: 0;
   transition: visibility 0s, opacity 0.5s ease;
 }
 
 a.float:hover + div.label-container{
   visibility: visible;
   opacity: 1;
 }