<!-- <mat-toolbar >
    <span class="spacer">
        <h3>Copyrights</h3>
    </span>
  </mat-toolbar> -->
<!-- <div id="support">
  <div class="footer">
    
    <p>follow us on</p>
    <mat-icon svgIcon="facebook" aria-hidden="false" aria-label="Example facebook  SVG icon"></mat-icon>
    <mat-icon svgIcon="twittor" aria-hidden="false" aria-label="Example twittor  SVG icon"></mat-icon>
    <mat-icon svgIcon="instagram" aria-hidden="false" aria-label="Example instagram  SVG icon"></mat-icon>

 <div class="copyright">
 <p>copyrights 2019
 <mat-icon svgIcon="copyright" aria-hidden="false" aria-label="Example copyright  SVG icon"></mat-icon>
 </p>
 </div>
 </div>
 </div> -->
 <div class="footer">
  <mat-toolbar style="background-color:black">
<div class="content has-text-centered">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<a href="https://www.facebook.com/" class="fa fa-facebook"></a>
<a href="https://www.twiiter.com/" class="fa fa-twitter"></a>
<a href="https://www.google.com/" class="fa fa-google"></a>
<a href="https://www.linkedin.com/" class="fa fa-linkedin"></a>
<a href="https://www.youtube.com/" class="fa fa-youtube"></a>
<a href="https://www.instagram.com/" class="fa fa-instagram"></a>
<a href="https://www.pinterest.com/" class="fa fa-pinterest"></a>
</div>
<span style="flex: 1 1 auto;"></span>
  </mat-toolbar>
 </div>