    <footer>
      <!-- Footer main -->
      <section class="ft-main" fxLayout="row" fxLayout.lt-sm="column" >
        <div class="ft-main-item">
         <a routerLink="about"><h2 class="ft-title">About Us</h2></a>
        </div>
        <div class="ft-main-item">
            <a routerLink="contact"> <h2 class="ft-title">Contact</h2></a>
        </div>
        <div class="ft-main-item">
            <a routerLink="services"> <h2 class="ft-title">Services</h2></a></div>
            <div class="ft-main-item">
               <a routerLink="support"><h2 class="ft-title">Support</h2></a>
              </div>
      </section>    
      <!-- Footer social -->
      <section class="ft-social">
        <ul class="ft-social-list">
          <li><a href="https://www.facebook.com/" target="blank"><fa-icon [icon]="faFacebook"></fa-icon></a></li>
          <li><a href="https://www.instagram.com/" target="blank"><fa-icon [icon]="faInstagram"></fa-icon></a></li>
          <li><a href="https://www.pinterest.com/" target="blank"><fa-icon [icon]="faPinterest"></fa-icon></a></li>
          <li><a href="https://www.linkedin.com/" target="blank"><fa-icon [icon]="faLinkedin"></fa-icon></a></li>
          <li><a href="https://www.twitter.com/" target="blank"><fa-icon [icon]="faTwitterSquare"></fa-icon></a></li>
        </ul>
      </section>
   <!-- Footer legal -->
      <section class="ft-legal">
        <ul class="ft-legal-list">
          <li><a href="#">Terms &amp; Conditions</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li>&copy; 2019 Copyright.</li>
        </ul>
      </section>
    </footer>
