<span class="spacer">
  <div class="footer">
    
    <p class="info"><strong>About us</strong>
      <a routerLink="about"><p>Vision & Goals</p></a>
  <mat-divider [inset]="true/false" > … </mat-divider >
    
    <a href="https://www.facebook.com/" target="blank"><mat-icon class="facebook" svgIcon="facebook" aria-hidden="false" aria-label="Example facebook  SVG icon"></mat-icon></a>
    <a href="https://www.twitter.com/" target="blank"><mat-icon svgIcon="twittor" aria-hidden="false" aria-label="Example twittor  SVG icon"></mat-icon></a>
    <a href="https://www.instagram.com/" target="blank"><mat-icon svgIcon="instagram" aria-hidden="false" aria-label="Example instagram  SVG icon"></mat-icon></a>
    
    <!-- <p><strong>Copyrights 2019</strong></p> -->

 <!-- <div class="copyright">
 <p class="rights">copyrights 2019
 <mat-icon svgIcon="copyright" aria-hidden="false" aria-label="Example copyright  SVG icon"></mat-icon>
 </p>
 </div> -->
 </div>
</span>
