<h5>Please fill your survey details!</h5>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput placeholder="Survey Name" [(ngModel)]="data.name">
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Description" [(ngModel)]="data.description"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Select Domain Name" [(ngModel)]="data.domain_type" required>
      <mat-option value="Product">Product</mat-option>
      <mat-option value="Hospital">Hospital</mat-option>
      <mat-option value="Others">Others</mat-option>
    </mat-select>
    <mat-hint align="end"></mat-hint>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="No Of Respondants" [(ngModel)]="data.respondants">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="date" placeholder="Expiry Date" [(ngModel)]="data.expiryDate">
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Demography" [formControl]="location" multiple [(ngModel)]="data.location">
      <mat-select-trigger>
        {{location.value ? location.value[0] : ''}}
        <span *ngIf="location.value?.length > 1" class="example-additional-selection">
          (+{{location.value.length - 1}} {{location.value?.length === 2 ? 'other' : 'others'}})
        </span>
      </mat-select-trigger>
      <mat-option *ngFor="let location of locationList" [value]="location">{{location}}</mat-option>
    </mat-select>
    <mat-hint align="end"></mat-hint>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Survey specified to" [(ngModel)]="data.gender">
      <mat-option value="Male">Male</mat-option>
      <mat-option value="Female">Female</mat-option>
      <mat-option value="All">All</mat-option>
    </mat-select>
    <mat-hint align="end"></mat-hint>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Age group" [(ngModel)]="data.age">
      <mat-option value="Child">Child(0-17)</mat-option>
      <mat-option value="Youth">Youth(17-30)</mat-option>
      <mat-option value="Middle">Middle Age(30-50)</mat-option>
      <mat-option value="Old">Old Age(50+)</mat-option>
    </mat-select>
    <mat-hint align="end"></mat-hint>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="Primary" [mat-dialog-close]="data" cdkFocusInitial>Create</button>
  <button mat-raised-button color="Warn" (click)=onNoClick()>Cancel</button>
</div>
