.example-card
{
    margin-top: 100px;
    width:200px;
    height:100%;

}
.a{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}
section{
    background-color: black;
}
.btn{
    margin-right:5cm;
    width:20%;
    margin: auto;
    text-align: center;
    float: right;
}
.flex-container{
    background-color:grey;
    height:3cm;
}
h1{
    margin-top:1.7cm;
    text-align: center;
}
.a{
    background-color: lightgrey;

}