.example-card
{
    margin-top: 100px;
    width:200px;
    height:100%;

}
.a{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}
.btn
{
 margin-right:90vh;
 margin-top:0.8cm;
 display: block;
 margin-left:auto;
 margin-right:auto;  

}

.flex-container{
    background-color:grey;
    width:100%;
    height:3cm;
    left:0cm;
    display: block;
    margin-left:auto;
    margin-right:auto;  
}
.a{ 
    margin-left:auto;
    margin-right:auto;
    margin-top:1cm;
    margin-bottom:auto;
    padding:5cm;
    width:50%;
    height:200vh;
    background: linear-gradient(to bottom, #ffffff 1%, #ffff66 100%);

}
h2{
    margin-top:1.7cm;
    color: white;
    text-align: center;
    display: block;
    margin-left:auto;
    margin-right:auto;  

}
p{
    text-align: center;
}
h3{
    text-align: center;
}