
.a{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    text-align: left;
    flex: 1;
  
}
.btn
{
 background-color: grey;
 color: white;
border: 2px solid white;
font-size: 20px;
margin:0.5cm;
justify-content: right;
align-content: right;
width:70px;
float:right;
}

.mat-card-actions {
 display: flex;
  justify-content: space-evenly;
 margin-bottom: 8px;
  padding: 8px 0;
}
.mat-card-header {
  height: 15%;
}
.btn:hover{
  background-color: white;
 color: black;
border: 2px solid grey;

}

.a{ 
    margin-left:auto;
    margin-right:auto;
    // margin-top:0.8cm;
    margin-bottom:auto;
    padding-left: 3cm;
    padding-right:3cm;
    padding-top:2cm;
    height:100%;
    background: rgb(255,149,149);
    background: linear-gradient(264deg, rgba(255,149,149,1) 0%, rgba(255,149,149,1) 32%, rgba(33,1,56,1) 100%);padding: 0 0 0.2em 0;
    
}
h2{
    margin-top:1.7cm;
    color: white;
    text-align: center;
    display: block;
    margin-left:auto;
    margin-right:auto;  

}
p{
    text-align: center;

}
h3{
    text-align: center;

}
li{
    text-align: left;
}
.card {
    border-radius: 5px;
    // padding:0.2cm;
    margin:2cm;
    width:7cm;
    height:9cm;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    border: 1px solid #000000;
    

  }
img {
 width:7cm;
 height: 4cm;;
}
  
  .card:hover {
    box-shadow: 0 8px 25px 0 rgba(0,0,0,0.8);
    width:7cm;
  }
  
  img {
    border-radius: 5px 5px 0 0;
  }
  .draft{

      background-color: #fdde30;
      color: white;
    position: absolute;
    height: 8%;
    padding: 2px;
    margin-left:0px ;
    width: 50%;
    text-align: center;
    border-radius: 0px 50px 50px 0px;
  }
  .draft2{
    background-color: #40c046;
    color: white;
  position: absolute;
  height: 8%;
  padding: 2px;
  margin-left:0px ;
  width: 50%;
  text-align: center;
  border-radius: 0px 50px 50px 0px;
}
 
  .bottom{
    display: flex;
    padding: 20px;
    justify-content: space-around;
  }
  a{
    color:black;
  }
  a:hover{
    color:burlywood;
  }
  mat-card-title,mat-card-subtitle{
    white-space: nowrap; 
    width: 80px; 
    overflow: hidden;
    text-overflow: ellipsis; 
    text-align:left;
    // border: 1px solid #000000;
  }
  span.spacer{
    display:flex;
    float:right;
    height:2cm;
  }

 
