.message {
    border-radius: 50px;
    margin: 0 15px 10px;
    padding: 15px 20px;
    position: relative;
    font-weight: bold;
}
.message.to {
    background-color: #2095FE;
    color: #fff;
    margin-left: 100px;
    text-align: right;
}
.custom-width {
   max-width: 450px;
}
.mat-bottom-sheet-container-medium {
    min-width: 384px;
    max-width: 450px;
  }
  
  .mat-bottom-sheet-container-large {
    min-width: 512px;
    max-width: calc(100vw - 256px)
  }
  
  .mat-bottom-sheet-container-xlarge {
    min-width: 576px;
    max-width: calc(100vw - 384px)
  }
.message.from {
    background-color: #E5E4E9;
    color: #363636;
    margin-right: 100px;

}
.message.to + .message.to,
.message.from + .message.from {
margin-top: -10px;
}