<div class="flex-container" fxLayout="row" fxFlex.lt-md="column">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <form [formGroup]="loginForm" name="login-form" #loginform="ngForm" (ngSubmit)="login(loginform.value)">
      <mat-card-content>
        <mat-form-field>
          <input matInput [formControl]="emailFormControl" placeholder="Email" [(ngModel)]="email" name="email" required>
          <mat-error *ngIf="emailFormControl.invalid">{{
            getRequiredErrorMessage("email")
          }}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Password" type="password" [(ngModel)]="password" name="password" required
          [formControl]="passwordFormControl"
          [type]="hide ? 'password':'text'"/>
          <mat-icon matSuffix (click)="hide = !hide">
            {{hide ? 'visibility' : 'visibility_off'}}
          </mat-icon> 
          <mat-error *ngIf="passwordFormControl.invalid">{{
            getPasswordErrorMessage("password")
          }}</mat-error>
        </mat-form-field>
        <!-- </div> -->
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button type="submit" color="primary" [disabled]="loginForm.invalid">Login</button>
        <a href=signup()><p>Not an existing user ? Sign up</p></a>
      </mat-card-actions>
    </form>


    <mat-divider></mat-divider>

    <span>



      <a href="">
        <p>Forgot password? Click Here</p>
      </a>
    </span>
  </mat-card>
</div>