
.flex-container
{
    height: 100vh;
    width: 100%;
    background: url("/assets/pictures/background5.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    .example{
      margin-left: 30%;
      margin-right: 50%;
   }
   .example-card{
       width:10cm;
       height:11cm;
       min-width:8cm;
       box-shadow: 0 8px 8px -1px rgba(0,0,0,1), 
                0 8px 8px 0 rgba(0,0,0,1), 
                0 8px 8px 0 rgba(0,0,0,1);
                opacity: 0.97;
   }
   mat-card-title
   {
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-size: 25px;
   }
     mat-card{
       width:700px;
         align-content: center;
         margin-top: 5cm;
         padding: 30px;
         min-width: 300px;
         display: block;
         margin-left:auto;
         margin-right:auto;           
    }
     mat-card-actions{
         text-align: center;
     }
     mat-divider{

         width:3cm;
     }
     p{
         margin-top:0.8cm;
     }
     .a
     {
       color: black;
     }
     .mat-raised-.mat-card-actions .mat-button, .mat-card-actions .mat-raised-button{
         margin:5px;
     }
     mat-form-field{
       margin-top:0.6cm;
       width:290px !important;
     }
    button
    {
      width:5cm;
    }

    .Error{
      color: red;
    }
    
    ::placeholder{
      font-size: 50rem;
  
    }
}