// body, html {
//     height: 100%;
//     margin: 0;
//     font-family: Arial, Helvetica, sans-serif;
//   }
  
//   * {
//     box-sizing: border-box;
//   }
  
//   .bg-image {
//     /* The image used */
//     background-image: url("src/assets/pictures/support.jpg");
    
//     /* Add the blur effect */
//     filter: blur(8px);
//     -webkit-filter: blur(8px);
//    // position: fixed;
//     /* Full height */
//     height: 100%; 
    
//     /* Center and scale the image nicely */
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
//   }
  
//   /* Position text in the middle of the page/image */
//   .text {
//     background-color: rgb(0,0,0); /* Fallback color */
//     background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
//     color: white;
//     font-weight: bold;
//     border: 3px solid #f1f1f1;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     z-index: 2;
//     width: 80%;
//     padding: 20px;
//     text-align: center;
//     min-width: 10cm;
//     //  padding-top: 20%;
//     //  padding-bottom: 20%;
//     //position: fixed;
//   }
.hero{
    margin-top: 60px;
}
.item-1{
    // width: 100%;
    height: auto;
    display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
} 
.item-3{
    max-width: 400px;
    min-width: 400px;
    margin-right: 0%;
    width: 100%;
    // margin-bottom: 50px;

}