<div class="container-fluid">
  <section class="hero-image">
    <article class="page--full">
      <div class="hero__wrapper">
        <h1 class="hero__title">
          We're here to help
        </h1>
      </div>
    </article>
  </section>
  <section class="section--block section--block__gray card-list">
    <div class="page--full">
      <!-- <p class="card-list__copy">
        24/7 support from a real person is included with your paid subscription to G Suite.<br>
        If you are not a G Suite administrator, visit <a href="https://support.google.com/?hl=en-IN" target="_blank">Google Help</a> to get support
        for your product.
      </p> -->
      <ul class="card-list__list">
        <li class="card-list__item">
          <div class="card card--eyebrow card--red">
            <mat-icon>phone</mat-icon>
            <h4 class="card__title">
              <a class="card__cta" data-g-action="Support CTA" data-g-event="G Suite: Support" data-g-label="Phone Support" href="https://support.google.com/a/answer/1047213?hl=en-IN" target="_blank">Phone
              Support</a>
              
            </h4>
            <div class="card__copy">
              <p>
                Available to Pollurey administrators only. Log in to your admin account for
                verification.
              </p>
              <p>
                Available in 14 languages.
              </p>
            </div>
          </div>
        </li>
        <li class="card-list__item">
          <div class="card card--eyebrow card--green">
            <mat-icon>email</mat-icon>
            <h4 class="card__title">
              <a class="card__cta" data-g-action="Support CTA" data-g-event="G Suite: Support" data-g-label="Email Support" href="https://support.google.com/a/answer/1047213?hl=en-IN" target="_blank">Email
              Support</a>
            </h4>
            <div class="card__copy">
              <p>
                Available to Pollurey administrators only. Log in to your admin account for
                verification.
              </p>
              <p>
                Available in 14 languages.
              </p>
            </div>
          </div>
        </li>
        <li class="card-list__item">
          <div class="card card--eyebrow card--yellow">
            <mat-icon>chat</mat-icon>
            <h4 class="card__title">
              <a class="card__cta" data-g-action="Support CTA" data-g-event="G Suite: Support" data-g-label="Chat Support" href="https://support.google.com/a/answer/1047213?hl=en-IN" target="_blank">Chat
              Support</a>
            </h4>
            <div class="card__copy">
              <p>
                Available to Pollurey administrators only. Log in to your admin account for
                verification.
              </p>
              <p>
                Available in 14 languages.
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

</div>

    