<div class="container-fluid">
  <div class="hero">
    <img src="assets/pictures/support.jpg" alt="hero image" />
  </div>
  <div class="container">
    <h2>May I Help You?</h2>
    <h5>
      We, Team Pollurvey, extends support 24*7 because you know you mean the
      most to us. For any enquiry, feel free to reach out to us. We would love
      to extend our support and try to help you in the best possible way.
      <br />You can anytime drop a mail at <b>pollurvey@gmail.com</b>.<br>We promise
      to revert within an hour. In case,you need an urgent help regarding any
      issue, you can just give a missed call on<b> 9210394328 </b>
    </h5>
  </div>
</div>
