<div class="container-fluid">
            <div class="hero">
                <img src="assets/pictures/support.jpg" alt="hero image" >
            </div>
        <div class="container">
            <div class="item item-2">
                <h1>May I Help You?</h1>
        <h3>We, Team Pollurvey, extends support 24*7 because you know you mean the most to us. For any enquiry, feel
            free to reach out to us. We would love to extend our support and try to help you in the best possible way.
        </h3>
        <h5>You can anytime drop a mail at <b>pollurvey@gmail.com</b>.We promise to revert within an hour.</h5>
        <h5>In case,you need an urgent help regarding any issue, you can just give a missed call on<b> 9210394328 </b> </h5>
    
            </div>
        </div>
    </div>