<!-- <button class="button" mat-raised-button (click)="openDialog()" style="margin:15% 15% 15% 15%">SUBMIT</button> -->
<div class="thankyou">
<div class="hero-text">
    <mat-card>
        <mat-card-content>
<h3>Thanks, we really appreciate your feedback...!!!</h3>
<p>To redeem your reward points sign-up here...!</p>
<a routerLink='/thankyou/signup'><button mat-raised-button (click)="sendMail()" color=primary>Sign-up</button></a>
<br>
<mat-divider></mat-divider>
<a routerLink='/rewards'><p class="reward"> Click here to know your rewardpoints!</p></a>
</mat-card-content>
</mat-card>
</div> 
</div>