<div class="flex-container" layout-align="center none">
    <div class="example-card" fxLayout="column">
      <mat-card class="hello">
      <mat-card-header>
        <mat-card-title>Edit Your Profile</mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div class="example-container">
    
          <h6>Username : {{user?.name}} </h6> 
          
          <h6>Email Id:{{user?.email}} </h6>
          
          <h6>Age :{{user?.ageGroup}}</h6>
          
          <h6>Gender :{{user?.gender}}</h6>
          <h6>Location :{{user?.location}}</h6><br>

          <a routerLink="/rewards">click here to see your rewardpoints</a>
          <!-- <button mat-raised-button color="primary" (click)=openDialog()>Edit</button> -->
        </div>
        
      </mat-card-content>
      <mat-card-actions>
        
        <!-- <button mat-raised-button color="primary" id="button1" >change password</button> -->
        <button mat-raised-button color="primary" (click)=openDialog()>Edit</button>
        <button type="cancel" mat-raised-button color="primary" routerLink="/survey">Back</button>
      </mat-card-actions>
    
      </mat-card>
    </div>
    </div>