<!-- <header  fxLayout="row"fxLayout.lt-sm="column"> -->
  <mat-toolbar class="flex-container">
    <mat-toolbar-row>
      <a routerLink=''><p><strong>POLLURVEY</strong></p></a>
      <span class="spacer"></span>
      <button class="main-button1"  *ngIf="loggedIn"  (click)="login()" mat-button>LOGIN</button>
      <button class="main-button" *ngIf="loggedOut" (click)="myprofile()" mat-button>My Profile</button>
      <button class="main-button" *ngIf="loggedOut"(click)="logOut()" mat-button>Logout</button>
      </mat-toolbar-row> 
  </mat-toolbar>
<!-- </header> -->