mat-toolbar{
  display:flex;
  flex-direction: row;
//     // width:100%;
    // position: fixed;
//     top:0;
    z-index: 1;
//     left: 0;
//     right: 0;
    background-color:white;
    border: solid;
    border-right: rgb(41, 1, 46);
    border-left: azure;
    border-top: thistle;
}

  .header{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color:white;
  }

  .spacer {
    flex: 1 1 auto;
  }
  #menu{
      color:white;
  }
  button{
      color:rgb(253, 251, 253);
  }
  a{
    text-decoration: none;
  }
  .mat-menu-item {
    background:white;

  }

a{
  text-decoration: none;
}
.main-button1{
  color:rgb(250, 244, 248);
  font-size: 18px;
  margin-top: 0.3cm;
  background-color: rgb(41, 1, 34);
}
.main-button{
  color:rgb(49, 1, 33);
  font-size: 20px;
  margin-top: 0.3cm;
}
p{
  color:rgb(41, 1, 41);
  margin-top:0.7cm;
  font-size:20px;
}