<div
  class="container-fluid"
  fxLayout
  fxLayout.xs="column"
  fxLayoutAlign="left"
  fxLayoutGap="10px"
  fxLayoutGap.xs="0"
>
  <div class="item item-2">
    <h1>About Us</h1>
    <p>
      “Words are singularly the most powerful force available to humanity. We
      can choose to use this force constructively with words of encouragement,
      or destructively using words of despair. Words have energy and power with
      the ability to help, to heal, to hinder, to hurt, to harm, to humiliate
      and to humble.” – Yehuda Berg.
    </p>
    <p>
      At Pollurvey, We believe that feedback is the backbone of any
      organization's success.Continuous feedbacks clear the path leading to
      goals and objectives of an organization.We,Team Pollurvey, provides a
      platform where an organization can seek feedback and nobody's voice would
      be left unheard.We connect the organization with their people. Not just
      you can add a value to your organization but also earn rewards to add some
      extra flavours to your life.
    </p>
  </div>
</div>
