<div class="container-fluid">
    <div class="row">
        <div class="container-fluid">
            <div class="hero" class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
                <img src="assets/pictures/ops-surveys-design.png" alt="hero image" style="height:500px;width:100%;margin-top: 60px;"
                    fxLayout="row">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container-fluid" fxLayout fxLayout.xs="column" fxLayoutAlign="left" fxLayoutGap="10px"
            fxLayoutGap.xs="0">
            <div class="item item-2" fxFlex="70%" fxFlexOffset="50px" fxFlexOffset.xs="0"
                class="col-md-6 col-xs-6 col-sm-6 col-lg-6">
                <h1>About Us</h1>
                <p>“Words are singularly the most powerful force available to humanity. We can choose to use this force
                    constructively with words of encouragement, or destructively using words of despair. Words have
                    energy and
                    power with the ability to help, to heal, to hinder, to hurt, to harm, to humiliate and to humble.”
                    – Yehuda Berg.</p>
                <p>At Pollurvey, We believe that feedback is the backbone of any organization's success.Continuous
                    feedbacks
                    clear the path leading to goals and objectives of an organization.We,Team Pollurvey, provides a
                    platform
                    where an organization can seek feedback and nobody's voice would be left unheard.We connect the
                    organization with their people. Not just you can add a value to your organization but also earn
                    rewards to add some extra flavours to your life. </p>
            </div>
            <div class="item item-3" fxFlex="30%" class="col-md-6 col-xs-6 col-sm-6 col-lg-6" fxLayout
                fxLayout.xs="column" fxLayoutGap="10px" fxFlex fxFlexOffset="50px" style="margin-bottom: 50px;" >
                <img src="assets/pictures/aboutUs.jpeg" alt="About Us">
            </div>
        </div>
    </div>
</div>