.mat-card
{
    margin-top: 1cm;
    border:solid;
    border-color: rgb(53, 1, 53);
    margin:1cm;
    

}
.main
{
    color: white;
    text-align: center;
}
.flex-container{
    height:100%;
    background: rgb(255,149,149);
    background: linear-gradient(264deg, rgba(255,149,149,1) 0%, rgba(255,149,149,1) 32%, rgba(33,1,56,1) 100%);padding: 0 0 0.2em 0;

}
button{
    margin:0.5cm;
    background-color: white;
    color: black;
    height: 1cm;
    width:0.5cm;
}

