.example-container
{
  max-height: 10cm;
  margin-top: 2cm;
}
.example-box
{
  width: 500px;
  height: 350px;
  margin-bottom: 10px;
}
.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 10px;
}
