.example-container
{
  height: 100%;
  background: rgb(255,149,149);
  background: linear-gradient(264deg, rgba(255,149,149,1) 0%, rgba(255,149,149,1) 32%, rgba(33,1,56,1) 100%);
}
.example-box
{
  
  border:solid;
  border-color: rgb(53, 1, 53);
  margin:1cm;
}
.example-radio-group {
  display: flex;
  flex-direction:column;
}

.example-radio-button {
  margin: 10px;
}
h1{
 text-align: center;
  color: white;
  padding-top:0.5cm;
}
.container{
 display:flex;
 justify-content: center;
}
button{
  margin:0.5cm;
}

