.my-form{
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
   
  .full-width {
    width: 100%;
  }
  
  mat-card{
      width: 20%;
      align-content: center;
      margin-top: 6cm;
      margin-left: 35%;
      height:100%;
  }
  mat-card-actions{
      text-align: center;
  }
  mat-divider{
      width:3cm;
  }
  p{
      margin-top: 1cm;
  }