
<mat-form-field>
  <div [formGroup]="myGroup">
    <input matInput type="password" placeholder="Password" formControlName="password" (input)="onPasswordInput()">
    <mat-error *ngIf="password.hasError('required')">Password is required</mat-error>
    <mat-error *ngIf="password.hasError('minlength')">Password must have at least {{minPw}} characters</mat-error>
    </div>
  </mat-form-field>

  <mat-form-field>
      <div [formGroup]="myGroup">
    <input matInput type="password" placeholder="Confirm password" formControlName="password2" (input)="onPasswordInput()">
    <mat-error *ngIf="password2.hasError('required')">Please confirm your password</mat-error>
    <mat-error *ngIf="password2.invalid && !password2.hasError('required')">Passwords don't match</mat-error>
  </div>
  </mat-form-field>
  <mat-form-field>
      <button mat-button color="primary" (click)=updatePassword(login)>submit</button>
  </mat-form-field>
