<div class="flex-container" fxLayout="row" fxLayout.xs="column">
    <a routerLink="/survey"><button class="back" mat-raised-button><mat-icon>arrow_back</mat-icon></button></a>
<div class="split-left">
  <div class="questions">
    <div>
      <mat-card class="card" *ngFor="let question of questionList" (click)="getAnalysis(question)">
        <mat-card-header class="questionCard">
          <mat-card-title>{{question.questionTag}}</mat-card-title>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
</div>
<div class="chart" *ngIf="showChart">
  <fusioncharts [width]="width" [height]="height" type="Column2d" [dataSource]="questionChart">
  </fusioncharts>
</div> 
</div>