.body{
  position: fixed;
  top:0;
  z-index: 1;
  left: 0;
  right: 0;
  max-width: 1000px;
  min-width: 1000px;
}

.spacer {
flex: 1 1 auto;
}


.example-card {

min-width: 200px;
flex-wrap: wrap;
justify-content: center;
align-content: center;
height: 7cm;
width: -webkit-fill-available;
display: inline-block;
text-align: center;
margin:0.5em 0 0.5em;
margin-left:1cm;
border: solid;
margin-bottom:1cm;
overflow: hidden;
text-overflow: ellipsis; 
}

.mat-card-avatar{
width:0px;
}


.slider-container {
display: flex;
flex-direction: column
}

.slides {
display: flex;
overflow-x: scroll;
// This is not supported by all browsers. If you want a different animation, please feel free
// to find your own solution.
scroll-behavior: smooth;
}


.controls {
display: flex;
justify-content: center;
}
.mat-button{
//justify-items: center;
color:white;
background-color: #000;
}
mat-card-actions {
padding: 0 120px;
margin-left: auto;
margin-right: auto;
display: block;
}
.button{
color:white;
margin-left: 30%;
margin-left: 40%;
width: 300px;
height: 70px;
padding-top: 13px;
padding-bottom: 7px;
text-align:-webkit-center;
font-size: x-large;

margin-bottom: 100px;
// margin-top: 0em;
background: rgb(255,149,149);
background: linear-gradient(264deg, rgba(255,149,149,1) 0%, rgba(255,149,149,1) 32%, rgba(33,1,56,1) 100%);padding: 0 0 0.2em 0;

}

.hero
{
  display: flex;
  max-width: 100%;
  min-width: 100%;
  align-content: center;
  order: 1;
  flex-wrap: wrap;
  /* width: 100%; */
  justify-content: space-around;
//  margin-top: 100px;
}

@media all and (max-width:30em)
{
.button{
  display: block;
  margin: 0.4em 0.4em;
}
}
mat-card-title{
text-align: left;
white-space: nowrap;
}
mat-card-subtitle{
text-align:left;
}
a{
text-decoration: none;
}
.heroimage{
  height:600px;
  width:100%;
  // margin-left:1cm;
  margin-bottom:1cm;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width:100%;
  
}
.card {
  flex:0 0 350px;
  min-width:5cm;
  margin: 10px;
  border: 1px solid #ccc;
  justify-content: center;
  
} 
.card:hover{
  color: purple;
  box-shadow: 2px 2px 6px 0px  rgba(74, 2, 77, 0.3);
}
.card img {
  max-width: 100%;
  justify-content: center;
}
.card .text {
  padding: 0 20px 20px;
}
.card .text > button {
  background: gray;
  border: 0;
  color: white;
  padding: 10px;
  width: 100%;
  }
ngb-carousel{
  margin-bottom:1cm;
  // padding-left:100px;
  // padding-top:60px;
  // margin: 1cm;
}
.container-fluid{
  flex: 1 1 auto;
}
.heroimage3{
  height:400px;
  width:100%;
  // margin:1cm;
  // margin-top:1cm;
  border: solid;
  border-color: rgb(36, 3, 36);
}
#hero1{
  width:100%
}

.heroimage1{
  width: 100%;
  height:400px;
  border: solid;
  border-color: rgb(204, 135, 135);
}

.heroImage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding:1cm;
}

.heroImage1 {
  display: flex;
  justify-content: center;
  padding:1cm;
  // align-items: center;
}
.heading{
  text-align: center;
  flex-direction: row;
}
.image {
 width:6cm;
 height: 4cm;;
}
img .friend{
  height:80%;
}