<div class="container-fluid">
  <div class="row row-no-gutters1">
    <div class="hero" fxLayout="column"></div>
    <img class="heroimage" src="assets/pictures/IMG-7004 (1).jpg" alt="hero image" fxLayout="row" />
  </div>
</div>
<div class="heading">
  <h2>Popular Surveys!</h2>
</div>
<!-- <div class="row-no-gutters"> -->
  <div class="orientation">
    <ngb-carousel *ngIf="images" style="height:8.5cm; background: rgb(255,149,149);
        background: linear-gradient(264deg, rgba(255,149,149,1) 0%, rgba(33,1,56,1) 89%, rgba(33,1,56,1) 100%);">
      <ng-template ngbSlide class="card" *ngFor="let item of surveySlides; let i = index">
        <div class="surveryItem" fxLayout="row">
        <div *ngFor="let survey of item; let cardIndex = index">
            <a routerLink="/login">
                <mat-card class="example-card">
                  <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{ survey.name }}</mat-card-title>
                    <!-- <mat-card-subtitle>{{ survey.description }}</mat-card-subtitle> -->
                  </mat-card-header>
                  <div class="image" *ngIf="survey.domain_type == 'Product'">
                    <img mat-card-image src="/assets/pictures/product3.jpg" alt="Product Image" />
                  </div>
                  <div class="image" *ngIf="survey.domain_type == 'Hospital'">
                    <img mat-card-image src="/assets/pictures/Hospital.webp" alt="Hospital Image" />
                  </div>
                </mat-card>
            </a>
            </div>
            </div>

      </ng-template>
    </ngb-carousel>
  </div>
  <main class="cards" fxLayout="row" fxLayout.lt-sm="column">
    <article class="card">
      <img src="/assets/pictures/lender-decisions.jpg" alt="Sample photo">
      <div class="text">
        <h3>Get Faster Decisions</h3>
        <p>You are one step closer to making decisions based on the feedback from the users once you create an account.
        </p>

      </div>
    </article>
    <article class="card">
      <img src="/assets/pictures/Frequently Asked Questions (1).jpg" alt="Sample photo">
      <div class="text">
        <h3>Appropriate Questions</h3>
        <p>Ask questions that will lead to correct and appropriate data response.</p>
        <!-- <button>Here's how</button> -->
      </div>
    </article>
    <article class="card">
      <img class="friend" src="/assets/pictures/user-friendly-website.jpg" alt="Sample photo">
      <div class="text">
        <h3>User-Friendly Surveys</h3>
        <p>Your survey will look nice on all the screens be it mobile or Desktop.</p>
        <!-- <button>Read more</button> -->
      </div>
    </article>
  </main>
<!-- 
<div class="heroImage">
  <div class="row row-no-gutters2" #hero1 fxLayout="row" fxFlex="90%">
    <div class="hero1" fxLayout="column"></div>
    <img class="heroimage1" src="assets/pictures/IMG-7069.jpg" alt="hero image" fxLayout="row" />
  </div>
</div> -->
<div class="heroImage1">
  <div class="row row-no-gutters3" fxLayout="row" fxFlex="90%">
    <div class="hero" fxLayout="column"></div>
    <img class="heroimage3"
      src="/assets/pictures/Reach anyone, anywhere.Connect with people via email, your website, social media, and more. We prove recommendations for quick responses. You can create surveys and polls in minutes!.png"
      alt="hero image" fxLayout="row" />
  </div>
</div>

<!-- <button class="button" mat-raised-button (click)="login()">
      Create a Survey
    </button> -->