<div class="container-fluid">
  <div class="row row-no-gutters">
    <div class="hero" class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
      <img
        src="assets/pictures/POLLUVERY.png"
        alt="hero image"
        style="height:500px;width:100%;"
        fxLayout="row"
      />
    </div>
  </div>
  <div class="row row-no-gutters">
    <div
      class="orientation"
      display="flex"
      class="col-sm-12 col-md-12 col-xs-12 col-lg-12"
    >
      <ngb-carousel
        *ngIf="images"
        style="margin: 40px; padding:50px;  background-color: black;"
      >
        <ng-template
          ngbSlide
          class="card"
          *ngFor="let item of slides; let i = index">
          <div fxLayout="row">
              <div
                class="col-sm-4 col-md-4 col-xs-4 col-lg-4"
                *ngFor="let card of item; let cardIndex = index">
                <mat-card class="example-card" fxFlex="70%">
                  <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{ card.title }}</mat-card-title>
                    <mat-card-subtitle>Pollurvey</mat-card-subtitle>
                  </mat-card-header>
                  <img
                    mat-card-image
                    [src]="card.img"
                    alt="Photo of a Shiba Inu"
                  />
                  <mat-card-content>
                    <p>
                      {{ card.description }}
                    </p>
                  </mat-card-content>
                </mat-card>
              </div>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div> 
  <div class="heading"><h2>Popular Surveys!</h2></div>
  <div class="row row-no-gutters">
    <div
      class="orientation"
      display="flex"
      class="col-sm-12 col-md-12 col-xs-12 col-lg-12"
    >
      <ngb-carousel
        *ngIf="images"
        style="margin: 30px; padding:40px;  background-color: black;"
      >
        <ng-template
          ngbSlide
          class="card"
          *ngFor="let item of surveySlides; let i = index">
          <div fxLayout="row">
              <div
                class="col-sm-4 col-md-4 col-xs-4 col-lg-4"
                *ngFor="let survey of item; let cardIndex = index">
                <a routerLink="/login"><mat-card class="example-card" fxFlex="70%">
                  <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{ survey.name }}</mat-card-title>
                    <mat-card-subtitle>{{ survey.description }}</mat-card-subtitle>
                  </mat-card-header>
                  <img
                    mat-card-image src="assets/pictures/business.jpeg"
                    alt="Photo of a Shiba Inu"
                  />
                  <mat-card-content>
                    <p>
                      Reward points:
                    </p>
                    <p>Number of respondants:</p>
                  </mat-card-content>
                </mat-card></a>
              </div>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
  <div>
    <div class="container">
      <button class="button" mat-raised-button (click)="login()">
        Create a Survey
      </button>
    </div>
  </div>
</div>

