.body{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}
.example-card {
    max-width: 400px;
    height: 500px;
    width: -webkit-fill-available;
   
  }
  
  .example-header-image {
   //background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;

  }
//  &::-webkit-scrollbar {
//     width: 0px;
//     background: transparent;
// }
 
.slider-container {
    display: flex;
    flex-direction: column
  }
  
  .slides {
    display: flex;
    overflow-x: scroll;
    // This is not supported by all browsers. If you want a different animation, please feel free
    // to find your own solution.
    scroll-behavior: smooth;
   }
  
  
  .controls {
    display: flex;
    justify-content: center;
  }
.mat-button{
  //justify-items: center;
  color: white;
  background-color: #000;
}
mat-card-actions {
  padding: 0 120px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.button{
    color:white;
    margin-left: 40%;
    width: 300px;
    height: 70px;
    padding-top: 13px;
    padding-bottom: 13px;
    text-align:-webkit-center;
    font-size: x-large;
    margin-bottom: 10%;
    background-color: #000;
}
// .card-deck
// {
//     display: inline-flex;
// }
// .card-img-top{
//    height: 500px;
//     width: -webkit-fill-available;
// }
// .hero {
//   max-width: fit-content;
//   min-width: auto;
// }